html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #3a3f44;
    border: 2px solid white;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.result-entry {
    display: flex;
    justify-content: center;
}

// Common properties
$width: 40%;
$text-align: center;
$border-radius: 5px;

.results-header {
    width: $width;
    text-align: $text-align;
    border-radius: $border-radius;
    text-decoration: underline;
}

.result {
    width: $width;
    text-align: $text-align;
    padding: 10px;
    margin: 20px;
    border: 2px solid silver;
    transition: 0.3s ease-in-out;
    border-radius: $border-radius;
    background-color: grey;

    &:hover {
        box-shadow: 3px 3px 5px silver;
    }
}

.hide {
    display: none;
}
