form {
    border: 2px solid silver;
    border-radius: 5px;
    padding: 40px;
    transition: 0.3s ease-in-out;
    background-color: grey;

    &:hover {
        box-shadow: 3px 3px 5px silver;
    }
}

input {
    padding: 5px 20px;
    width: 75%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 5px;
}

// Common extender using sass
%shared-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputCenter {
    @extend %shared-flex-center;
}

.buttonCenter {
    @extend %shared-flex-center;
}

button {
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s ease;

    &:hover {
        background-color: gold;
        box-shadow: 3px 3px 5px silver;
    }
}
